body{
	background: #eee;
}

@datetime (start: 2015-08-11 11:30:00 ) and (end: 2015-08-11 12:30:00){
    body {
        background: red;
    }
    footer {
        background: black;
    }
}

p{
	color:blue;
}

@datetime(start: 2015-08-11 )and(end: 2015-08-16) {
    body {
        background: green;
    }
    footer {
        background: white;
    }
}

@datetime(start: 2015-08-16 ){
    body {
        background: blue;
    }
    footer {
        background: white;
    }
}